{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><style>
                .jumbotron {
                background-color: #B40431; /* Orange */
                color: #ffffff;
                }
            </style>

            <body>
                <div class="jumbotron text-center">
                    <h1>Noticias</h1>
                </div>
            </body>
        </h1>
    </div>    
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Noticas de Hoy
            </div>
            <div class="panel-body">
                <div class='form-group'>
                    <div class="row">
                        <h3 class="text-center">Acceso Personalizado</h3>                        
                    </div>
                </div>
            </div>
    </div>
</div>    
{% endblock cuerpo %}